---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/shared/Navbar.astro";
import Hero from "../components/sections/Hero.astro";
import About from "../components/sections/About.astro";
import Benefits from "../components/sections/Benefits.astro";
import Speakers from "../components/sections/Speakers.astro";
import Agenda from "../components/sections/Agenda.astro";
import Tickets from "../components/sections/Tickets.astro";
import Legacy from "../components/sections/Legacy.astro";
import Sponsors from "../components/sections/Sponsors.astro";
import FAQ from "../components/sections/Faq.astro";
import Footer from "../components/shared/Footer.astro";
---

<Layout title="Release Party 26 | Doscom">
  <Navbar />

  <main class="flex min-h-screen flex-col">
    <Hero />

    <About />

    <Benefits />

    <Speakers />

    <Agenda />

    <Tickets />

    <Legacy />

    <Sponsors />

    <FAQ />
  </main>

  <Footer />
</Layout>
