---
// Import global CSS yang berisi @theme Tailwind v4
import "../styles/global.css";

interface Props {
  title: string;
  description?: string;
}

// Default description jika tidak diisi saat memanggil Layout
const { title, description = "Release Party 26 - Inovasi Terbuka untuk Masa Depan oleh Doscom." } = Astro.props;
---

<!doctype html>
<html lang="id" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Manrope:wght@400;500;600;700&family=Space+Grotesk:wght@500;600;700&display=swap"
      rel="stylesheet"
    />

    <title>{title}</title>
  </head>
  <body class="antialiased min-h-screen selection:bg-primary selection:text-black">
    <slot />
  </body>
</html>

<style is:global>
  /* Custom Scrollbar Brutalist 0px Sharp */
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    background: var(--color-surface-lowest);
  }
  ::-webkit-scrollbar-thumb {
    background: var(--color-surface-container);
    border-radius: 0px; /* Haram pakai lengkungan */
  }
  ::-webkit-scrollbar-thumb:hover {
    background: var(--color-primary);
  }
</style>
