---
import { cn } from "../../lib/utils"; // Import fungsi cn yang sudah kita setup

interface Props {
  src: string;
  alt: string;
  class?: string;
}

const { src, alt, class: className } = Astro.props;
---

<div
  class={cn(
    // Wadah Luar: Kaku (0px), Garis tepi menonjol (raised frame)
    "border-2 border-surface-container/70 bg-surface-container p-4",
    "relative flex items-center justify-center rounded-none shadow-glow",
    className
  )}
>
  <div class="absolute -top-2 -left-2 flex gap-1.5 opacity-60">
    <div class="bg-on-surface-variant h-1.5 w-1.5"></div>
    <div class="bg-on-surface-variant h-1.5 w-1.5"></div>
    <div class="bg-on-surface-variant h-1.5 w-1.5"></div>
  </div>
  <div class="absolute -right-2 -bottom-2 flex gap-1.5 opacity-60">
    <div class="bg-on-surface-variant h-1.5 w-1.5"></div>
    <div class="bg-on-surface-variant h-1.5 w-1.5"></div>
    <div class="bg-on-surface-variant h-1.5 w-1.5"></div>
  </div>

  <div
    class="border-surface-container/50 bg-surface-lowest aspect-video w-full overflow-hidden border"
  >
    <img
      src={src}
      alt={alt}
      class="h-full w-full object-cover transition-transform duration-500 hover:scale-105"
    />
  </div>
</div>
